__pycache__
.vscode
app.egg-info
.coverage
.pytest_cache
.env
.env.dev
.env.prod
.env.test
.env.ci
/.idea/.gitignore
/.idea/FastAPI-PgStarterKit.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
